<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876927340054-tu2qspdknh9a8sjjjf6kd4krtfrueckh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876927340054-tu2qspdknh9a8sjjjf6kd4krtfrueckh</string>
	<key>API_KEY</key>
	<string>AIzaSyDB2UmVV7FRLzLc5G8OpQqZtDowEnmH59c</string>
	<key>GCM_SENDER_ID</key>
	<string>876927340054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slabsgh.teamsync</string>
	<key>PROJECT_ID</key>
	<string>teams-data-entry-app</string>
	<key>STORAGE_BUCKET</key>
	<string>teams-data-entry-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876927340054:ios:4fc0cc3a48bc10cd6eef37</string>
</dict>
</plist>